$time: 1s;

$tw-color: linear-gradient(#76e0f8, #57cbf2);
$fb-color: linear-gradient(#5285be, #3466a3);
$li-color: linear-gradient(#02a6cc, #028abc);
$ins-color: linear-gradient(#7bbe19, #3d922a);
$yt-color: linear-gradient(#db1829, #c7131f);
$tum-color: linear-gradient(#dd3a6f, #ea71a4);
$dr-color: linear-gradient(#243956, #2e4d69);