footer.footer
  .footer__block
    .footer__column
      span.footer__logo Dreamshare
    .footer__column
      h3.footer__h3 Company
      .footer__links
        a.footer__link(href='#') About
        a.footer__link(href='#') Contact
        a.footer__link(href='#') Press
        a.footer__link(href='#') Blog
        a.footer__link(href='#') Terms and Privacy
        a.footer__link(href='#') Help
    .footer__column
      h3.footer__h3 Partners
    .footer__column
      span.footer__designer DESIGNED BY
      img.footer__img(src='./images/logo.webp', alt='logo of designer')
