header.header
  .top
    span.top__logo Dreamshare
    .top__logining
      button.top__login(type='button') Log in
      button.top__login.top__login_signup(type='button') Sign up
  .about
    h1.about__h1
      | Share your 
      br
      |  holiday dream
    p.about__p And find the perfect partner to fullfill it
    a.about__find.button(href='#') Find your holiday partner
